@page
@model MotorcycleShopEtay.Pages.Accessories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Accessorie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessorie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessorie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessorie.size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessorie.size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessorie.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessorie.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessorie.Brend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessorie.Brend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessorie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessorie.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Accessorie.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
