@page
@model MotorcycleShopEtay.Pages.Accessories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>אביזרים</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<form>
    <div>
        <p>
            Find by name:
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back to full list</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accessorie[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessorie[0].Brend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessorie[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessorie[0].size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessorie[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Accessorie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
