@page
@model MotorcycleShopEtay.Pages.Helmets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>קסדות</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Helmet[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Helmet[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Helmet[0].HelmetSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Helmet[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Helmet[0].Brend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Helmet[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Helmet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelmetSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
