@page
@model MotorcycleShopEtay.Pages.ShoppingCarts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>עגלת קניות</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<form>
    <div>
        <p>
            Find by shopping id:
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back to full list</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCart[0].ShoppingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCart[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCart[0].ShoppingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShoppingCart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
