@page
@model MotorcycleShopEtay.Pages.Purchases.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>עסקאות</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<form>
    <div>
        <p>
                Find by shopping id:
                <input type = "text" name="SearchString"/>
                <input type ="submit" value="Search" class="btn btn-primary"/>
                <a asp-page="./Index">Back to full list</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].ShoppingCart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Purchase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingCart.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
